.register-cont {
  background-color: #b9fbc09f;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  align-self: center;
  width: 350px;
  max-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: #f4a261;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin: 0;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #f4a261;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #f4a261;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
  font-family: "Space Grotesk", serif;
}

.signin {
  text-align: center;
  font-family: "Space Grotesk", serif;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  color: #264653;
  font-family: "Space Grotesk", serif;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: #264653;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  font-family: "Space Grotesk", serif;
  transition: 0.3s ease-in-out;
}

.submit:hover {
  background-color: #52b788;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.error {
  color: red;
  font-family: "Roboto";
  font-size: 1rem;
  margin: 0;
  padding-bottom: 10px;
}

.success {
  color: green;
  font-family: "Roboto";
  font-size: 1rem;
  margin: 0;
  padding-bottom: 10px;
}
